.mount.js-mount

br

.row
  .column.small-12
    h1 SVG Wheel Of Fortune
    
    textarea(class="js-words", name="words", rows=3)
      | Well... do ya feel lucky... punk?
      
    button.button.expanded.js-get-word
      | Get current word
      
    button.button.expanded.js-spin
      | Spin! 